@keyframes highlight {
  from {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }

  1% {
    opacity: 1;
  }

  to {
    transform: scale3d(5, 5, 5);
    opacity: 0;
  }
}

@font-face {
  font-family: "VT323-Regular";
  src: url("../fonts/VT323-Regular.woff2") format("woff2");
}

:root {
  --bg-color: #232121;
  --bg-color-dark: #121212;
  --bg-color-light: #292828;
  --text-color: white;
  --inv-bg-color: #777;
  --inv-bg-color-light: #999;
  --inv-text-color: #222;
  --border-color: #414141;
  --icon-color: white;
  --icon-width: 36px;
  --kick-color: #9695ff;
  --snare-color: #e4695e;
  --hihat-color: #fbd324;
  --vocal-color: #fb3be4;
  --focus-color: #ffd414;
}


html {
  font: 24px monospace;
  font-family: 'VT323-Regular', monospace;
  color: var(--text-color);
  background: var(--bg-color);
}

body {
  overflow: hidden;
}

a {
  color: var(--text-color);
}
a:focus,
button:focus,
select:focus {
  outline-style: solid;
  outline-color: var(--focus-color);
  outline-width: 2px;
  z-index: 100;
}

p,
li {
  line-height: 1.8;
}

.app {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  background: linear-gradient(var(--bg-color), var(--bg-color-light));
  flex-direction: column-reverse;
}

.app > .controls {
  padding: 0 10px 10px;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  justify-content: center;
  z-index: 200;
}
.app > .main {
  flex-grow: 1;
  padding: 10px 20px 10px 10px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.controls > .control-group {
  padding: 6px;
}
.controls > .control-group-play {
  display: flex;
}
.button-grid {
  display: grid;
  grid-template-columns: auto auto;
}
.button-grid button:first-child {
  grid-column: 1 / span 2;
}

.control .active-on {
  display: none;
}
.control .active-off {
  display: block;
}
.control.active .active-on {
  display: block;
}
.control.active .active-off {
  display: none;
}
.controls .icon {
  width: var(--icon-width);
  height: var(--icon-width);
}
.control-group-play .icon {
  width: 60px;
  height: 60px;
}
.controls .text-icon {
  height: var(--icon-width);
  line-height: var(--icon-width);
  font-size: 1rem;
  white-space: nowrap;
}
.controls .control {
  margin: 0;
  padding: 0 6px;
  background: linear-gradient(to top, #292828, #424040);
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, .25);
  border: 3px solid #000;
  border-left: 0;
  border-top: 0;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.controls button.control:focus {
  outline: 1px solid var(--focus-color);
  box-shadow: 0 0 4px 2px var(--focus-color);
}
.controls .control.toggle-sound {
  color: rgba(255, 255, 255, 0.5);
}
.controls .control.toggle-sound.active::after {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
}
.controls .control.kick.active {
  color: var(--kick-color);
}
.controls .control.kick.active::after {
  background-color: var(--kick-color);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.controls .control.snare.active {
  color: var(--snare-color);
}
.controls .control.snare.active::after {
  background-color: var(--snare-color);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.controls .control.hihat.active {
  color: var(--hihat-color);
}
.controls .control.hihat.active::after {
  background-color: var(--hihat-color);
}
.controls .control.vocal.active {
  color: var(--vocal-color);
}
.controls .control.vocal.active::after {
  background-color: var(--vocal-color);
}
.controls .button-grid .control:first-child,
.controls .button-grid .control:nth-child(2),
.controls .control-group-play .control {
  border-left: 3px solid #000;
}
.controls .button-grid .control:first-child,
.controls .control-group-play .control {
  border-top: 3px solid #000;
}
.controls .button-grid .control:first-child,
.controls .control-group-play .control {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.controls .button-grid .control:nth-child(2),
.controls .control-group-play .control {
  border-bottom-left-radius: 6px;
}
.controls .button-grid .control:last-child,
.controls .control-group-play .control {
  border-bottom-right-radius: 6px;
}
.controls .control .icon path {
  fill: rgba(255, 255, 255, 0.8);
}
.controls .control:hover {
  color: var(--icon-color);
}
.controls .control:hover .icon path {
  fill: var(--icon-color);
}

.main h1 {
  font-size: 1.6rem;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  color:rgb(151, 147, 147);
  text-shadow: 2px 2px 0px black;
}
.main h1 .icon,
.main h1 .text {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
}
.main h1 .tagline {
  font-size: 0.667em;
  height: 28px;
  vertical-align: bottom;
  white-space: nowrap;
}

.transcript-menu {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 6px;
  margin-top: 12px;
  border: 2px solid var(--border-color);
  box-sizing: border-box;
}
.transcript-menu .wrapper {
  color: var(--inv-text-color);
  padding: 2px 4px 9px;
  box-sizing: border-box;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: linear-gradient(to top, var(--inv-bg-color-light), var(--inv-bg-color));
  box-shadow: inset 0 1px 2px rgb(0, 0, 0, 0.33);
}
.transcript-menu a,
.transcript-menu label {
  color: var(--inv-text-color);
}
.transcript-selector label {
  display: block;
  width: 100%;
  font-size: 0.9rem;
  margin-top: 6px;
  padding-left: 3px
}
.transcript-selector select {
  border: none;
  font-size: 1.2rem;
  background: transparent;
  flex-grow: 1;
}
.transcript-select-controls {
  display: flex;
  align-items: center;
}
.transcript-select-controls .control {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}
.transcript-select-controls .control .icon {
  width: 32px;
  height: 32px;
}

.item-container {
  margin-top: 6px;
  padding: 0 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-metadata {
  font-size: 0.9rem;
}
.item-metadata > a {
  display: inline-block;
  vertical-align: middle;
}
.item-controls {
  display: flex;
}
.item-controls .control {
  margin-right: 3px;
}
.item-controls .control:last-child {
  margin-right: 0;
}
.toggle-play-item {
  border: 2px solid var(--inv-text-color);
  background: transparent;
  padding: 0 3px 0 0;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  line-height: 1;
  color: var(--inv-text-color);
}
.toggle-play-item:hover {
  background: white;
}
.toggle-play-item .active-off {
  display: flex;
}
.toggle-play-item.active .active-on {
  display: flex;
}
.toggle-play-item.active .active-off {
  display: none;
}
.toggle-play-item svg {
  width: 24px;
  height: 24px;
}
.radio-toggle {
  display: flex;
  padding: 0;
  border: 2px solid var(--inv-text-color);
}
.radio-wrapper {
  position: relative;
}
.radio-button {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}
.radio-button:checked {
  cursor: default;
}
.radio-button + label {
  background: var(--inv-text-color);
  color: var(--inv-bg-color);
  padding: 0 3px;
  cursor: pointer;
}
.radio-button:focus + label {
  outline: 2px solid var(--focus-color);
  color: white;
}
.radio-button:hover + label {
  color: white;
}
.radio-button:checked + label {
  background: transparent;
  color: var(--bg-color);
  cursor: default;
}
.radio-button:checked:hover + label {
  color: var(--bg-color);
}

.transcript {
  flex-grow: 1;
  font-size: 1.8rem;
  touch-action: pan-y;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  overflow-y: auto;
  background: var(--bg-color-dark);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 6px 12px;
  border: 2px solid var(--border-color);
  border-top: none;
  box-sizing: border-box;
  box-shadow: inset 0 1px 2px rgb(0, 0, 0);
}
.is-playing .transcript {
  overflow: hidden;
}
.word-wrapper {
  display: inline-block;
  margin-right: 0.5rem;
  white-space: nowrap;
  line-height: 1;
  position: relative;
}
.word-wrapper.is-non-verbal::before {
  color: rgba(255, 255, 255, 0.5);
  content: '[';
}
.word-wrapper.is-non-verbal::after {
  color: rgba(255, 255, 255, 0.5);
  content: ']';
}
.sorted .word-wrapper {
  white-space: normal;
}
.word-wrapper:last-child {
  margin-right: 0;
}
.clip {
  margin: 0;
  display: inline-block;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
.clip:hover,
.clip:focus {
  text-decoration: underline;
}
.clip:focus,
.clip:focus:hover {
  outline: none;
}
.clip.kick,
.clip.kick:hover {
  color: var(--kick-color);
}
.clip.kick.selected,
.clip.kick.selected:hover {
  outline: 2px solid var(--kick-color);
}
.clip.snare,
.clip.snare:hover {
  color: var(--snare-color);
}
.clip.snare.selected,
.clip.snare.selected:hover {
  outline: 2px solid var(--snare-color);
}
.clip.hihat,
.clip.hihat:hover {
  color: var(--hihat-color);
}
.clip.hihat.selected,
.clip.hihat.selected:hover {
  outline: 2px solid var(--hihat-color);
}
.clip.vocal,
.clip.vocal:hover {
  color: var(--vocal-color);
}
.clip.vocal.selected,
.clip.vocal.selected:hover {
  outline: 2px solid var(--vocal-color);
}
.clip.selected,
.clip.selected:hover {
  border-radius: 2px;
}
.non-word {
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
}
.ghost-text {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}
.clip.playing .ghost-text {
  animation: highlight 0.3s ease-in-out;
  animation-fill-mode: none;
}
.phone .original-text {
  position: relative;
}
.phone-text {
  display: none;
  font-size: 0.9em;
}
.show-phones .phone-text {
  display: inline;
}
.show-phones .letter-text {
  display: none;
}
.clip.playing:focus:hover .ghost-text,
.clip.playing:focus .ghost-text {
  color: rgba(255, 255, 255, 0.8);
}
.clip:hover::before {
  border-color: white;
}
.clip:focus::before {
  border-color: rgba(0, 0, 0, 0.4);
}
.text small {
  font-size: 0.5em;
  vertical-align: middle;
}

.dataviz {
  position: fixed;
  z-index: 1000;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-top: 2px solid black;
  box-shadow: 0 -4px 4px 4px rgba(0, 0, 0, 0.4);
}
.dataviz .feature {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 16.6666667%;
  background: #444;
  position: relative;
  border-left: 1px solid black;
  color: white;
}
.dataviz .feature:first-child {
  border-left: none;
}
.dataviz .label {
  display: block;
  width: 100%;
  height: 80px;
  line-height: 80px;
  white-space: nowrap;
  text-align: center;
  font-size: 0.9rem;
  position: relative;
}
.dataviz .bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
.dataviz .value,
.dataviz .control {
  position: absolute;
  font-size: 0.9rem;
  display: block;
  padding: 2px 4px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
}
.dataviz .control {
  max-width: 52px;
  z-index: 100;
}
.dataviz .value {
  top: 0;
  right: 0;
}
.dataviz .sort {
  top: 0;
  left: 0;
}
.dataviz .filter-min {
  bottom: 0;
  left: 0;
}
.dataviz .filter-max {
  bottom: 0;
  right: 0;
}

.template {
  display: none;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
