@keyframes highlight {
  from {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }

  1% {
    opacity: 1;
  }

  to {
    transform: scale3d(5, 5, 5);
    opacity: 0;
  }
}

@font-face {
  font-family: "VT323-Regular";
  src: url("../fonts/VT323-Regular.woff2") format("woff2");
}

html {
  font: 24px monospace;
  font-family: 'VT323-Regular', monospace;
  color: white;
  background: #232121;
}

a {
  color: white;
}
a:focus {
  outline-style: solid;
  outline-color: #a80000;
  outline-width: 3px;
}

p,
li {
  line-height: 1.8;
}

.app {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  background: linear-gradient(#232121, #292828);
}

.app > .controls {
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  z-index: 200;
}
.app > .main {
  flex-grow: 1;
  padding: 10px 20px 10px 10px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.controls > .control-group {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 6px;
  padding-bottom: 6px;
}
.control-group > .top,
.control-group > .bottom {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 66%;
}
.control-group > .top {
  flex-basis: 34%;
}
.controls > .control-group-play {
  flex-grow: 3;
}
.control-group-play > .top {
  flex-basis: 25%;
}
.control-group-play > .bottom {
  flex-basis: 75%;
}
.button-group,
.select-group,
.input-group {
  display: flex;
  align-items: stretch;
}
.button-group button {
  flex-grow: 1;
}
.button-group-3 button {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 33.33333333%;
}
.button-group-4 button {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
}
.select-group select {
  width: 100%;
  text-indent: 3px;
}
.input-group {
  position: relative;
}
.input-group label {
  position: absolute;
  height: 100%;
  left: 55%;
  top: 0px;
  display: flex;
  align-items: center;
  text-align: center;
  z-index: 2;
}
.input-group input {
  width: 100%;
  position: relative;
  text-indent: 50px;
  z-index: 1;
}
.control .active-on {
  display: none;
}
.control .active-off {
  display: block;
}
.control.active .active-on {
  display: block;
}
.control.active .active-off {
  display: none;
}
.controls .icon {
  width: 36px;
  height: 36px;
}
.control-group-play .icon {
  width: 60px;
  height: 60px;
}
.controls .text-icon {
  height: 36px;
  line-height: 36px;
  font-size: 1.333rem;
}
.controls .control {
  margin: 0;
  padding: 0;
  background: linear-gradient(to top, #292828, #424040);
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, .25);
  border: 3px solid #000;
  border-left: 0;
  border-top: 0;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.controls .control:first-child,
.controls .control.bottom,
.controls .group-1 .control {
  border-left: 3px solid #000;
}
.controls .top .control,
.controls .top.control {
  border-top: 3px solid #000;
}
.controls .top .control:first-child,
.controls .control.top,
.controls .top.group-1 .control {
  border-top-left-radius: 6px;
}
.controls .top .control:last-child,
.controls .control.top,
.controls .top.group-1 .control {
  border-top-right-radius: 6px;
}
.controls .bottom .control:first-child,
.controls .control.bottom {
  border-bottom-left-radius: 6px;
}
.controls .bottom .control:last-child,
.controls .control.bottom {
  border-bottom-right-radius: 6px;
}
.controls .control .icon path {
  fill: rgba(255, 255, 255, 0.8);
}
.control .checkbox-label {
  margin-left: 12px;
}
.controls .control:hover {
  color: white;
}
.controls .control:hover .icon path {
  fill: white;
}
.controls .control > option {
  background: #292828;
  color: white;
}

.main h1 {
  font-size: 1.6rem;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  color:rgb(151, 147, 147);
  text-shadow: 2px 2px 0px black;
}
.main h1 .icon,
.main h1 .text {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
}
.main h1 .tagline {
  font-size: 0.667em;
  height: 28px;
  vertical-align: bottom;
  white-space: nowrap;
}

.transcript-selector {
  background: #222;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 6px;
  margin-top: 12px;
  border: 2px solid #414141;
  box-sizing: border-box;
  color: #888;
}
.transcript-selector .wrapper {
  color: #222;
  padding: 2px 4px 9px;
  box-sizing: border-box;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: linear-gradient(to top, #999999, #777777);
  box-shadow: inset 0 1px 2px rgb(0, 0, 0, 0.33);
}
.transcript-selector a {
  color: #222;
}
.transcript-selector label {
  display: block;
  color: #222;
  width: 100%;
  font-size: 0.9rem;
  margin-top: 6px;
  padding-left: 3px
}
.transcript-selector select {
  border: none;
  font-size: 1.2rem;
  background: transparent;
}
.metadata {
  margin-top: 6px;
  font-size: 0.9rem;
  padding-left: 3px
}

.transcript {
  flex-grow: 1;
  font-size: 1.8rem;
  touch-action: pan-y;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  overflow-y: auto;
  background: rgb(18, 18, 18);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 6px 12px;
  border: 2px solid #414141;
  border-top: none;
  box-sizing: border-box;
  box-shadow: inset 0 1px 2px rgb(0, 0, 0);
}
.word-wrapper {
  display: inline-block;
  margin-right: 0.5rem;
  white-space: nowrap;
  line-height: 1;
  position: relative;
}
.word-wrapper.is-non-verbal::before {
  color: rgba(255, 255, 255, 0.5);
  content: '[';
}
.word-wrapper.is-non-verbal::after {
  color: rgba(255, 255, 255, 0.5);
  content: ']';
}
.sorted .word-wrapper {
  white-space: normal;
}
.word-wrapper:last-child {
  margin-right: 0;
}
.clip {
  margin: 0;
  display: inline-block;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
}
.clip:hover {
  color: white;
  text-decoration: underline;
}
.clip:focus,
.clip:focus:hover {
  color: rgba(0, 0, 0, 0.7);
  background: rgba(255, 255, 255, 0.8);
  outline: none;
}
.non-word {
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
}
.ghost-text {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}
.clip.playing .ghost-text {
  animation: highlight 0.3s ease-in-out;
  animation-fill-mode: none;
}
.phone .original-text {
  position: relative;
}
.phone .phone-text {
  position: absolute;
  bottom: 6px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
  display: none;
}
.clip:focus:hover .phone-text,
.clip:focus .phone-text {
  color: rgba(0, 0, 0, 0.4);
}
.clip.playing:focus:hover .ghost-text,
.clip.playing:focus .ghost-text {
  color: rgba(255, 255, 255, 0.8);
}
.word {
  position: absolute;
  width: 100%;
  height: 24px;
  bottom: -24px;
  box-sizing: border-box;
  left: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border: 3px solid #000;
  display: none;
}
.word::before {
  content: " ";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 4px;
  margin-left: -45%;
  margin-top: -2px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-top: none;
}
.clip:hover::before {
  border-color: white;
}
.clip:focus::before {
  border-color: rgba(0, 0, 0, 0.4);
}
.text small {
  font-size: 0.5em;
  vertical-align: middle;
}

.dataviz {
  position: fixed;
  z-index: 1000;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-top: 2px solid black;
  box-shadow: 0 -4px 4px 4px rgba(0, 0, 0, 0.4);
}
.dataviz .feature {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 16.6666667%;
  background: #444;
  position: relative;
  border-left: 1px solid black;
  color: white;
}
.dataviz .feature:first-child {
  border-left: none;
}
.dataviz .label {
  display: block;
  width: 100%;
  height: 80px;
  line-height: 80px;
  white-space: nowrap;
  text-align: center;
  font-size: 0.9rem;
  position: relative;
}
.dataviz .bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
.dataviz .value,
.dataviz .control {
  position: absolute;
  font-size: 0.9rem;
  display: block;
  padding: 2px 4px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
}
.dataviz .control {
  max-width: 52px;
  z-index: 100;
}
.dataviz .value {
  top: 0;
  right: 0;
}
.dataviz .sort {
  top: 0;
  left: 0;
}
.dataviz .filter-min {
  bottom: 0;
  left: 0;
}
.dataviz .filter-max {
  bottom: 0;
  right: 0;
}

.template {
  display: none;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
